<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocSpot</title>
    <link rel="stylesheet" type="text/css" href="../static/css.css">
    <script src="https://kit.fontawesome.com/eae4204c1d.js" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
</head>

<body>
    <header id="body-header">
        <nav>
            <ul id="nav-menu">
                <li>
                    <a href="#" class="nav-list">HOME</a>
                </li>
                <li>
                    <a href="#tools" class="nav-list">TOOLS</a>
                </li>

                <li>
                    <a href="#working" class="nav-list">WORKING</a>
                </li>
                <li>
                    <a href="#about" class="nav-list">ABOUT</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="detail">
            <div id="detail-docspot">
                <div id="docspot">
                    <h1 class="detail-lines">DocSpot</h1>
                </div>
                <p id="detail-line1" class="detail-lines">Tired of managing so many documents in your daily life?

                </p>
                <p id="detail-line2" class="detail-lines">If yes, you have landed at the right place!
                </p>
                <p id="detail-line3" class="detail-lines">We have made the management of all your documents super easy.
                </p>
            </div>
        </section>

        <section id="home">
            <div id="home-container">
                <div id="about-home">
                    <div id="home-heading">
                        <h1>One Stop For All Your <span>Documents</span></h1>
                    </div>
                    <p>Everything that you will need to do with your documents is here to serve you, all at a single
                        place!
                        <br> Use our tools to scan,convert and merge your docs without any hassle.
                    </p>
                </div>
                <div id="add-button">
                    <img src="../static/images/add.png">
                    <a href="/scan">
                        <button id="home-button" type="button">SCAN</button>
                    </a>
                </div>
            </div>
        </section>
        <section id="tools">
            <div id="tools-heading">
                <h1>
                    <i class="fa-solid fa-cubes-stacked"></i>
                    TOOLS
                </h1>
            </div>
            <div id="tools-container">
                <div class="tools-column" id="tool1">
                    <img src="../static/images/img2pdf.svg">
                    <h3 class="tool-name">JPG to PDF</h3>
                    <a href="/jpg-pdf">
                        <button class="tools-button" id="button1">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </a>
                </div>
                <div class="tools-column" id="tool2">
                    <img src="../static/images/pdf2docx.svg">
                    <h3 class="tool-name">PDF to Word</h3>
                    <a href="/pdf-word">
                        <button class="tools-button" id="button2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </a>
                </div>
                <div class="tools-column" id="tool3">
                    <img src="../static/images/pdf2img.svg">
                    <h3 class="tool-name">PDF to JPG</h3>
                    <a href="/pdf-jpg">
                        <button class="tools-button" id="button3" type="button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </a>
                </div>
                <div class="tools-column" id="tool4">
                    <img src="../static/images/pdfmerger.svg">
                    <h3 class="tool-name">Merge PDF</h3>
                    <a href="/pdf-merge">
                        <button class="tools-button" id="button4" type="button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </a>
                </div>
            </div>
        </section>


        <section id="working">
            <div id="working-heading">
                <h1>
                    <i class="fa-solid fa-gears"></i>
                    WORKING
                </h1>
            </div>

            <div id="working-container">
                <div id="steps">
                    <h1>Steps to Get Started</h1>
                    <ul id="steps-list">
                        <li>1. Land to any section using our navigation menu.</li>
                        <li>2. To scan, click on the SCAN button in Home Section.</li>
                        <li>3. Once the doc is scanned, it will be available in PDF format.</li>
                        <li>4. To use any of the tools, for eg: JPG to PDF, PDF to Word etc click on
                            their respective buttons.
                        </li>
                        <li>5. A dialog box will pop-up asking for you to choose the files, choose the files from here.</li>
                        <li>6. Now select the destination to which you want your converted doc to be saved.</li>
                    
                    </ul>
                </div>
            </div>

        </section>


        <section id="video">

        </section>

        <section id="about">
            <div id="about-heading">
                <h1>
                    <i class="fa-solid fa-address-card"></i>
                    ABOUT
                </h1>
            </div>

            <div id="about-container">
                <div id="contact-part">
                    <div id="abt-ds">
                        <h3>About docSpot</h3>
                        <p>In our project we have aimed to ease the life of every person who has to deal with documents frequently.
                            The user can simply scan the document, get it in a pdf format and then use our tools to convert the files to different formats!
                        </p>
                    </div>
                    <div id="names">
                        <h3>Team Members</h3>
                        <ul>
                            <li>Akriti Bhan</li>
                            <li>Anurag Jindal</li>
                        </ul>
                    </div>
                    <div id="contact">
                        <h3>Contact</h3>
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-location-dot"></i></i></span>
                                Faridabad, Haryana
                            </li>
                            <li>
                                <span><i class="fas fa-envelope"></i></span>
                                20001011005@jcboseust.ac.in
                            </li>
                            <li>
                                <span><i class="fas fa-envelope"></i></span>
                                20001011011@jcboseust.ac.in
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="social-icons">
                    <ul id="social-icons-list">
                        <li>
                            <a href="https://www.linkedin.com/in/akriti-bhan-0b05711bb/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/anurag-jindal-295069202/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/akriti._18/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/anuragjindal121/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
    </main>
</body>

</html>